

/*
Author: Rayane Santos
*/


/* 
 SECTION SETUP 
 NAVBAR 
 INICIAL BANNER 
 CONTENTS 
 SPEAKER-CARD 
 CONTACT-FORM 
*/

html,
body {
    background-color: #ffffff;
    font-size: 15px;
    color: #363636;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}

h1,
h2,
h3 {
    font-family: 'Lane', sans-serif;
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1rem;
}
p:last-child {
    margin-bottom: 0px;
}

/* SECTION SETUP */

.sections {
    padding-top: 50px;
    padding-bottom:100px;
    position: relative;
    overflow: hidden;
    margin-top: 20px
}

#content{
    background-color: #41777d;
}
.footer {
    padding:50px 0 35px 0;
}
.btn {
    margin-right: 15px;
}
.btn-heading{
    padding: 10px 100px 5px 100px;
    font-size: 25px;
    color: #0D747F;
    background-color: #fff;
    font-family: "BebasNeue";
    border-radius: 0px !important;
    letter-spacing: 2px;
    -webkit-box-shadow: 5px 5px 2px  rgba(0,0,0,0.40);
    -moz-box-shadow: 5px 5px 2px  rgba(0,0,0,0.40);
    box-shadow: 5px 5px 2px  rgba(0,0,0,0.40);

}
.btn-heading:hover{
    background-color: #0D747F;
    color: #fff;

}

/* NAVBAR */
.navbar-brand{
    color: #fff !important;
    font-size: 40px;
    padding: 25px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
        padding: 10px !important;
}
.navbar-default .navbar-nav>.active a{
    color: #fff;
    background-color:#5D9EA0;
}
.navbar-default .navbar-nav>.active a:hover{
    background-color:transparent;
    color:#fff;
}
.navbar-default .navbar-nav{
    
    border: 2px solid #fff;
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
        font-family: "BebasNeue";
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
    background: #5D9EA0;
    color: #fff;

}
/* NAVBAR END*/


/*------------------------- Home Page Style ----------------------------*/


/* INICIAL BANNER */

.gb-banner {
    color: #fff;
    width: 100%;
    height: 400px;
    display: table;
    position: relative;
    z-index: 1;
    background: url(../images/pattern1.png);
        width: 100%;
    background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.gb-banner:before {
    position: absolute;
    content: "";
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    z-index: -1;
}

.banner-info {
    display: table-cell;
    vertical-align: middle;
}

.banner-info h1 {
    font-family: "Impact";
    font-size: 40px;
    margin:30px;
}

.banner-info h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0 75px;
}

.banner-info h2 span {
    font-weight: 700;
}

/* INICIAL BANNER END */

/* CONTENTS */

.box-info{

    padding-left: 10px;
    text-align: left;
}
.box-info>span{
    padding: 20px;
    font-family: "BebasNeue";
    font-size: 20px;
}
.box-info>p{
    padding: 20px;

}

.material-icons{
    color: #5D9EA0;
}
 /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.plano-lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    z-index: -1;
    overflow: hidden;
}
.plano-lista>li {
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    position: relative;
    margin: 15px 60px 10px 60px;
    padding: 68px 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 20px;
}
.plano-lista>li:hover {

    background-color: #41777d;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;

}
.plano-lista>li:hover>#slidee>div {

  color: #fff;

}
.plano-lista>li:hover .box-info>span{
    color: #fff;
}
.plano-lista>li>#slidee>div {
  height: 150px;
  color: #000;
  vertical-align: middle;
  display: table-cell;
  text-align: left;
  padding: 30px;
}
.plano-lista>li>#slidee>div b {
 text-align: center;
}

.plano-lista>li:hover>#slidee {
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    bottom: 0;
}


.service-icon h5{
    color: #fff;
    font-family: "Impact";
    font-size: 30px;
}

.service-icon  img {

  position: absolute;
  margin-top :-85px;
  margin-right: -50px;
  margin-left: -38px;
    z-index: 2;
  overflow: visible;  
}
/* CONTENTS END */

/* SPEAKER-CARD */

.speaker img{
  
    margin-bottom: 10px;
    }

.speaker span{
  
    font-family: "BebasNeue";
    color: #4c848a;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    }

.about-speaker{
    margin-top: 20px;
    text-align: justify;
}
.main-project{
    background:#f4f4f4;
    overflow:hidden;
    padding:40px;
}

/* SPEAKER-CARD END*/

/* CONTACT-FORM */
.contact-form{

    padding: 30px 20px 40px 20px;
    background: #4C848A;
    border-radius: 20px;
}
.contact-form .contact-title{
    border-bottom: 2px solid #fff;
}
.contact-form h1 {
    color: #fff;
    text-align: center;
    font-family: "Impact";
}
.contact-form button {
   
    font-family: "BebasNeue";
    font-size: 20px;
}
.contact-form button:hover {
   
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-form{
    width: 100%;
    background: #5D9EA0;
    color: #fff;
    -webkit-box-shadow: 5px 5px 2px  rgba(0,0,0,0.40);
    -moz-box-shadow: 5px 5px 2px  rgba(0,0,0,0.40);
    box-shadow: 5px 5px 2px  rgba(0,0,0,0.40);

}
.btn-form:hover{
    
    color: #fff;

}


/*Footer Area*/

#footer{
    background:#363636;
    color:#FFF;
}
.socio-copyright p{
    color:#fff;
    font-size:15px;
    width:100%;
    text-align:center;
    margin-top:10px;
    display: inline;
    text-transform: uppercase;
    line-height: 40px;
    font-family: "BebasNeue"
}

/*Scroll Up*/

.scrollup{
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background: #0d747f;
    position: fixed;
    bottom: 30px;
    right: 50px;
    font-weight: bold;
    transition:all 500ms .2s;
    cursor:pointer;
}
.scrollup:hover{
    background: #0d747f;
    color: #fff;
    transform:scale(1.1);
}   


/* IMPORT FONT-STYLES*/
@font-face {

      font-family: "BebasNeue";
      src: url("../fonts/BebasNeue.otf") format("opentype");

      }
      @font-face {

      font-family: "Impact";
      src: url("../fonts/impact.ttf") format("opentype");

      }

